.container {
  width: 600px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 400px 200px;
  place-items: center;
  margin-top: 5rem;
  padding: 1rem;
  border-radius: 10px;
}

.stinicio {
  background: rgb(66,66,66);
}

.strunning {
  background: rgb(100,0,0);
}

.stended {
  background: rgb(0,100,0);
}

.tela {
  width: 100%;
  height: 300px;
  display:grid;
  place-items: center;
  background: white;
  border: solid 3px red;
  border-radius: 10px;
}

.tela img {
   height: 200px;
}

.turnedon {
  background: yellow;
}

.panel {
  width: 100%;
  margin: 0 auto;
  display: grid;
  place-items: start;
  padding: 1rem;
  border-radius: 10px;
}

.time {
  font-size: 5rem;
  margin-bottom: 1rem;
  color: white;
}

.buttons {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  padding: 0;
}

.buttons button {
  width: 85%;
  display: block;
  padding: 0.8rem;
  border: none;
  margin: 0;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  transition: all 300ms ease-in-out;
  transform: translateY(0);
}

.buttons button:hover {
  transform: translateY(-2px);
}

.start {
  float: left;
  background: #3ed927;
  color: white;
}

.reset {
  float: right;
  background: #fd7171;
  color: white;
}

